{% extends 'page/template.html' %}
{% block body %}
    <h1>hie-app-scaffold</h1>
    {% include 'widget/green/green.html' %}
    {% fis_load 'widget/yellow/yellow.css' %}
    {% if False %}
        {% fis_load 'widget/red/red.js' %}
    {% endif %}
    {% fis_uri 'page/demo/demo.html' %}

    {% fis_style %}
        <style>
            body{
                color: red;
            }
        </style>
    {% end_fis_style %}
    {% fis_style %}
        <style>
            body{
                background: yellow;
            }
        </style>
    {% end_fis_style %}
    {% fis_script %}
        <script>
            require('./demo')
        </script>
    {% end_fis_script %}
{% endblock %}